    <div class="container">
        <footer class="py-3 my-4">
            <p class="text-center text-body-secondary">© 2024 Проект Ira<br>ГФ РУП "Белтелеком", ИВЦ СПО<br>Максим Марченков (тел.: 29-67-05)</p>
        </footer>
    </div>
