{% extends 'layouts/default.html.twig' %}

{% block main %}
        <div class="bg-body-tertiary p-5 rounded">
            <form action="/posts" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Заголовок</label>
                    <input id="title" type="text" name="title" class="form-control" aria-describedby="title" placeholder="Введите заголовок" value="Тестовый заголовок "required>
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Текст</label>
                    <textarea id="body" name="body" cols="30" rows="20" class="form-control" placeholder="Введите текст" required>Тестовый текст</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>
{% endblock %}
