{% extends 'layouts/default.html.twig' %}

{% block main %}
    <div class="bg-body-tertiary p-5 rounded">
        <h1>Главная страница</h1>
        <p class="lead"><a class="btn btn-lg btn-primary" href="{{ youTubeChannel }}" role="button">Перейти на YouTube</a></p>
    </div>
{% endblock %}
