{% extends 'layouts/blog.html.twig' %}

{% block main %}
{% if  session().hasFlash('success') %}
    <div class="alert alert-success m-3 p-3 rounded shadow-sm">
        {% for message in session().getFlash('success') %}
            <span>{{ message }}</span><br>
        {% endfor %}
    </div>
{% endif %}
    <div class="bg-body m-3 p-5 rounded shadow-sm">
        <h1>{{ post.title }}</h1>
        <p>{{ post.body }}</p>
    </div>
{% endblock %}
