<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Проект Ira</title>
    <script src="/js/color-modes.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap-icons.min.css">
    <meta name="theme-color" content="#712cf9">
    <link href="/css/blog/style.css" rel="stylesheet">
    <link href="/css/blog/navbar-fixed.css" rel="stylesheet">
</head>
<body class="bg-body-tertiary">

{% include 'components/blog/theme-mode.html.twig' %}
{% include 'components/blog/navbar.html.twig' %}

    <main class="container">
        {% block main %} {% endblock %}
    </main>

{% include 'components/blog/footer.html.twig' %}
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
