<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ira Framework</title>
    <script src="/js/color-modes.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <meta name="theme-color" content="#712cf9">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/navbar-fixed.css" rel="stylesheet">
</head>
<body>

{% include 'components/theme-mode.html.twig' %}
{% include 'components/navbar.html.twig' %}

    <main class="container">
        {% block main %} {% endblock %}
    </main>

{% include 'components/footer.html.twig' %}
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
